.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# 编译输出文件夹
build-*/
*.pro.user
*.pro.user.*
*.qmake.stash

# Qt Creator 生成的文件
*.autosave
*.creator.*
*.creator
*.user
*.user.*
*.qmlproject.user
*.qmlproject.user.*
*.qtc_clangd/
*.qtc_settings

# Windows 和 macOS 特定的输出文件
*.obj
*.dll
*.exe
*.lib
*.pdb
.DS_Store
Thumbs.db

# Makefile 和编译输出文件
Makefile
*.o
*.a
*.so
*.swp

# CMake 生成的文件夹和文件
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# qrc、moc、ui 和 rcc 生成的文件
*.qrc.depends
*.moc
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
qrc_*.h
*.qrc~

# 编译输出的中间文件
*.app
*.dSYM/
*.ipch
*.pch
*.obj
*.vcxproj.*
*.log

# 其他临时文件
*.bak
*.swp

